html,body{
  color: #333;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.eleCenter{
  width:1200px;
  margin:0 auto;
}

.table{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  font-size: 14px;
}
